<html>
<head>
    <meta charset="utf8"/>
    <base href="/"/>
    <title>Связь с командным центром</title>
    <link rel="stylesheet" href="/css/client/client.css"/>
</head>
<body>
<div class="chat_box">
    <div class="connecting">Connecting...</div>
</div>
<div class="input_container">
    <form action="">
        <button class="send_button">-></button>
        <div class="message_text_wrap"><input type="text" class="message_text" name="messageText"/></div>
    </form>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/client/client.js"></script>
<script>
    var socket = io.connect('/chat1');
    var $chatBox = $('.chat_box');
    var $messageText = $('.message_text');

    socket.on('init', function (data) {
        $chatBox.html('');
        if (!data.messages) return;
        for (var i = 0; i < data.messages.length; i++) {
            var message = data.messages[i];
            addMessage(message.text)
        }
    });

    socket.on('send:message', function (message) {
        addMessage(message.text)
    });

    function addMessage(text) {
        if (!text || text.trim().length == 0) return;
        $chatBox.append("<div class='message'>" + text + "</div>");
    }
    $('.send_button').click(function (e) {
        e.preventDefault();
        var messageText = $messageText.val();
        $messageText.val('');
        socket.emit('send:message', {message: messageText});
        addMessage(messageText);
    });
</script>
</body>
</html>