body {
    outline:none;
    padding: 0;
    margin: 0;
}

#chat {
   display: none;
}

.input_container{
    position: fixed;
    height: 40pt;
    padding: 5pt;
    width: 100%;
    bottom: 0;
    background-color: #efefef;
    box-sizing: border-box;
}

.message{
    height: 15pt;
    border-bottom: 1px solid lightgray;
    padding-left: 10pt;
    margin: 1pt;
}

.input_container .message_text, .input_container .send_button {
    height: 30pt;
    border-radius: 5pt;
    border: 1px solid lightgray;
    display: block;
    outline:none;
    box-sizing: border-box;
}

.input_container .message_text_wrap {
    margin-right: 45pt;
}

.input_container .message_text{
    width: 100%;
    padding: 5pt;
}

.input_container .send_button {
    float: right;
    width: 40pt;
    cursor: pointer;
}

.input_container .message_text:focus {
    box-shadow: 0px 0px 8px 0px rgba(0, 175, 210, 0.77);
}

#login_form .form_wrapper {
    border-radius: 5px;
    padding: 10px;
    width: 200pt;
    max-width: 100%;
    margin: auto;
    background-color: lightgray;
    display: block;
}

#login_form .form_wrapper input, #login_form .form_wrapper button {
    height: 30pt;
    margin: 5pt 0;
    padding: 4pt;
    border-radius: 5px;
    border: 1px solid grey;
    width: 100%;
    outline:none;
}

#login_form .form_wrapper button {
    cursor: pointer;
}
